.auth-form,
.social {
    display: flex;
    padding: var(--gap-standard);
    flex-direction: column;
    gap: var(--gap-standard);
    border-radius: var(--border-radius-standard);
    background: var(--white-full-p3, var(--white-full));
    box-shadow: var(--box-shadow-p3, var(--box-shadow));
}

.auth-form {
    border: 1px solid var(--stroke-color-p3, var(--stroke-color));
}

.button-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.social {
    padding: 12px 27px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 38px;
    border: 1px solid var(--black-placeholder-p3, var(--black-placeholder));
    color: var(--primary-color-p3, var(--primary-color));
}
.inline-shade {
    color: var(--black-placeholder);
    color: var(--black-placeholder-p3);
}
