body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block-start: 0;
    gap: 64px;
}

.crumb {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px 80px;
    border-bottom: 1px solid var(--stroke-color-p3, var(--stroke-color));
    background: color(display-p3 1 1 1 / 0.3);
    backdrop-filter: blur(6px);
    width: 100%;
    box-sizing: border-box;
}
