body {
    display: flex;
    width: 100%;
    padding-block-start: 6.25rem;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.headingcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
}

.form-heading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.modal-content {
    background: var(--white-full-p3, var(--white-full));
    margin: 15% auto;
    padding: 20px;
    border-radius: 12px;
    width: clamp(20rem, 90%, 25rem);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#appLink {
    display: block;
    margin-block: 10px;
    color: var(--primary-color-p3, var(--primary-color));
}

@media (max-width: 425px) {
    .container {
        width: 90%;
    }
}
